#footer {
    text-align:right;
    border-top:1px solid #ccc;
    font-size:small;
    margin-top:2em;
    padding-top:2em;
    color:#777;
}

#resume-banner {
    margin-top:2em;
    border-top: 5px solid #ccc;
}

p {
    margin-top:0px;
}

h1 {
    line-height:25px;
}

h1#name {
    padding-top:0px;
    margin-top:0px;
    margin-bottom:0px;
}

h2#asciiname {
    padding-top:0px;
    margin-top:0px;
    margin-bottom:0px;
    color:#777;
}

h3#proud {
    font-style:italic;
}

td {
    vertical-align:top;
}

#resume tr {
}

#resume td {
    padding-top:2em;
    padding-right:2em;
    vertical-align:top;
}

#resume td.title {
    text-align:right;
    font-style:italic;
}

dl {
    padding:0px;
    margin:0px;
}

dt {
    font-style:italic;
}

dd {
    margin-bottom:1em;
}

#name {
    padding-top:0px;
}

#asciiname {
}

#resume-image {
    float:left;
}

.comment {
    font-size:small;
    color:#777;
}

.clear {
    clear:both;
}

#views {
    float:right;
    font-size:small;
}

.tooltip {
    border-bottom:1px dotted;
}

@media all and (max-width:640px) {
    table,thead,tbody,tfoot,th,td,tr{display:block}
    #resume td {padding-top:1em;padding-right:0px}
    #resume td.title {text-align:left}
    #resume td.description {padding-left:0.5em}
    tr+tr{margin-top:0px}
    input[type=submit]{display:block;margin-top:0.5em}
}
